<template>
    <style slot="websiteeditor/global-style">
        body {
            margin: 0;
        }
        .website-defaulttemplate-topbar > juicy-composition,
        .website-defaulttemplate-topbar > juicy-composition > starcounter-include > juicy-composition {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        /* For ones with CSS Grid us it with 5px gutter */
        @supports( (display: grid) and (grid-column-gap: 5px) ) {
            .website-defaulttemplate-topbar > juicy-composition,
            .website-defaulttemplate-topbar > juicy-composition > starcounter-include > juicy-composition {
                display: grid;
                align-items: center;
                grid-column-gap: 5px;
                grid-auto-flow: column;
                margin-right: 5px;
            }
        }
        /* For browsers w/o Grid break SD boundary and add gutter as margin */
        @supports( not ((display: grid) and (grid-column-gap: 5px)) ) {
            .website-defaulttemplate-topbar > juicy-composition > *,
            .website-defaulttemplate-topbar > juicy-composition > starcounter-include > juicy-composition > *,
            /*
             Shadow DOM v1 in-compatible Shadow DOM piercing selector
             styling such things may break default compositions delivered by apps
            */
            .website-defaulttemplate-topbar > juicy-composition::shadow>*,
            .website-defaulttemplate-topbar > juicy-composition > starcounter-include > juicy-composition::shadow>* {
                margin-right: 5px;
            }
        }
    </style>
    <template is="dom-bind">
        <starcounter-include slot="websiteeditor/topbar" view-model="{{model.Sections.TopBar}}" class="website-defaulttemplate-topbar"></starcounter-include>
        <starcounter-include slot="websiteeditor/main" view-model="{{model.Sections.Main}}"></starcounter-include>
    </template>
    <template is="declarative-shadow-dom">
        <slot name="websiteeditor/global-style"></slot>
        <style>
            .website-defaulttemplate-top {
                background-color: #333;
                color: #FFF;
                padding: 10px;
            }
        </style>
        <section class="website-defaulttemplate-top">
            <slot name="websiteeditor/topbar"></slot>
        </section>
        <section class="website-defaulttemplate-main">
            <slot name="websiteeditor/main"></slot>
        </section>
    </template>
</template>
