<template>
    <style slot="website/global-style">
        body {
            margin: 0;
        }
    </style>
    <template is="dom-bind" name="holygrail">
        <starcounter-include slot="website/header" view-model="{{model.Sections.Header}}"></starcounter-include>
        <starcounter-include slot="website/left" view-model="{{model.Sections.Left}}"></starcounter-include>
        <starcounter-include slot="website/content" view-model="{{model.Sections.Content}}"></starcounter-include>
        <starcounter-include slot="website/right" view-model="{{model.Sections.Right}}"></starcounter-include>
        <starcounter-include slot="website/footer" view-model="{{model.Sections.Footer}}"></starcounter-include>
    </template>
    <template is="declarative-shadow-dom">
        <slot name="website/global-style"></slot>
        <style>
            @import url("/WebsiteEditor/css/holygrail.css");
        </style>
        <section class="website-holygrail">
            <section class="website-holygrail__header">
                <slot name="website/header"></slot>
            </section>
            <section class="website-holygrail__left">
                <slot name="website/left"></slot>
            </section>
            <section class="website-holygrail__content">
                <slot name="website/content"></slot>
            </section>
            <section class="website-holygrail__right">
                <slot name="website/right"></slot>
            </section>
            <section class="website-holygrail__footer">
                <slot name="website/footer"></slot>
            </section>
        </section>
    </template>
</template>
