<template>
    <style slot="website/global-style">
        body {
            margin: 0;
        }
    </style>
    <template is="dom-bind">
        <starcounter-include slot="website/Navigation" view-model="{{model.Sections.Navigation}}"></starcounter-include>
        <starcounter-include slot="website/Header" view-model="{{model.Sections.Header}}"></starcounter-include>
        <starcounter-include slot="website/Left" view-model="{{model.Sections.Left}}"></starcounter-include>
        <starcounter-include slot="website/Right" view-model="{{model.Sections.Right}}"></starcounter-include>
        <starcounter-include slot="website/Footer" view-model="{{model.Sections.Footer}}"></starcounter-include>
    </template>
    <template is="declarative-shadow-dom">
        <slot name="website/global-style"></slot>
        <style>
            @import url("/Website/css/AppHub.css");
        </style>
        <section class="website-apphub">
            <section class="website-apphub__navigation">
                <slot name="website/Navigation"></slot>
            </section>
            <section class="website-apphub__header">
                <slot name="website/Header"></slot>
            </section>
            <section class="website-apphub__left">
                <slot name="website/Left"></slot>
            </section>
            <section class="website-apphub__right">
                <slot name="website/Right"></slot>
            </section>
            <section class="website-apphub__footer">
                <slot name="website/Footer"></slot>
            </section>
        </section>
    </template>
</template>
