<template>
    <style slot="Website/global-style">
        body {
            margin: 0;
        }
    </style>
    <template is="dom-bind">
        <starcounter-include slot="Website/Navigation" partial="{{model.Sections.Navigation}}"></starcounter-include>
        <starcounter-include slot="Website/Header" partial="{{model.Sections.Header}}"></starcounter-include>
        <starcounter-include slot="Website/Left" partial="{{model.Sections.Left}}"></starcounter-include>
        <starcounter-include slot="Website/Right" partial="{{model.Sections.Right}}"></starcounter-include>
        <starcounter-include slot="Website/Footer" partial="{{model.Sections.Footer}}"></starcounter-include>
    </template>
    <template is="starcounter-composition">
        <content select="[slot='Website/global-style']"></content>
        <style>
            @import url("/Website/css/AppHub.css");
        </style>
        <section class="website-apphub">
            <section class="website-apphub__navigation">
                <content select="[slot='Website/Navigation']"></content>
            </section>
            <section class="website-apphub__header">
                <content select="[slot='Website/Header']"></content>
            </section>
            <section class="website-apphub__left">
                <content select="[slot='Website/Left']"></content>
            </section>
            <section class="website-apphub__right">
                <content select="[slot='Website/Right']"></content>
            </section>
            <section class="website-apphub__footer">
                <content select="[slot='Website/Footer']"></content>
            </section>
        </section>
    </template>
</template>
