<link rel="import" href="/website/elements/website-section/website-section.html">

<template>
    <template is="dom-bind">
        <website-section slot="Website/top-bar" section="{{model.Sections.TopBar}}"></website-section>
        <website-section slot="Website/main" section="{{model.Sections.Main}}"></website-section>
    </template>
    <template is="starcounter-composition">
        <style>
            body {
                margin: 0;
            }

            .top-bar {
                background-color: #333;
                color: #FFF;
                padding: 10px;
            }

                .top-bar > website-section {
                    display: flex;
                    justify-content: flex-end;
                }

                    .top-bar > website-section > starcounter-include {
                        margin-left: 10px;
                    }
        </style>
        <section class="top-bar">
            <content select="[slot='Website/top-bar']"></content>
        </section>
        <section class="main">
            <content select="[slot='Website/main']"></content>
        </section>
    </template>
</template>