<template>
    <style slot="Website/global-style">
        body {
            margin: 0;
        }
    </style>
    <template is="dom-bind">
        <starcounter-include slot="Website/top-bar" partial="{{model.Sections.TopBar}}"></starcounter-include>
        <starcounter-include slot="Website/main" partial="{{model.Sections.Main}}"></starcounter-include>
    </template>
    <template is="starcounter-composition">
        <content select="[slot='Website/global-style']"></content>
        <style>
            .top-bar {
                background-color: #333;
                color: #FFF;
                padding: 10px;
            }

                .top-bar > starcounter-include {
                    display: flex;
                    justify-content: flex-end;
                }

                    .top-bar > starcounter-include > starcounter-include {
                        margin-left: 10px;
                    }
        </style>
        <section class="top-bar">
            <content select="[slot='Website/top-bar']"></content>
        </section>
        <section class="main">
            <content select="[slot='Website/main']"></content>
        </section>
    </template>
</template>
