
<link rel="import" href="/sys/polymer/polymer.html" />

<template>
    <style slot="Website/global-style" shim-shadowdom>
        html,
        body {
            font-family: Calibri, Helvetica, Arial, sans-serif;
            font-size: 14px;
            padding: 0;
            margin: 0;
            height: 100%;
        }

        .launcher-settings-button {
            font-size: 0;
        }

        .launcher-settings-button__icon {
            width: 22px;
            height: 22px;
        }

        .launcher-home-button {
            font-size: 0;
        }

        .launcher-home-button__icon {
            width: 19px;
            height: 19px;
            display: inline-block;
            font-size: 18px;
            margin-left: 4px;
            margin-right: 10px;
        }

        .launcher-search {
            display: flex;
            align-items: center;
            font-size: 0;
        }

        .launcher-search__icon {
            font-size: 18px;
        }

        .launcher-search__input[type="text"] {
            /* need high specifity to overwrite Bootstrap*/
            color: white;
            background: #7B8AA6;
            padding: 4px;
            border: 1px solid #3d4860;
            border-radius: 4px;
            font-size: 14px;
            margin-left: 10px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .launcher-search__input[type="text"]::-webkit-input-placeholder {
            /* WebKit browsers */
            color: white;
        }

        .launcher-search__input[type="text"]::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: white;
        }

        .launcher-menu {
            margin: 0px;
            padding: 9px;
            list-style-type: none;
        }

        .launcher-menu li:hover {
            background-color: #6794AC;
            color: white;
        }

        .launcher-menu li {
            border-bottom: 1px solid #3d4860;
            padding-right: 8px;
            padding-left: 4px;
        }

        .launcher-menu a {
            display: block;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 2px;
            padding-right: 2px;
        }

        .launcher-menu ul a:link,
        .launcher-menu a:visited,
        .launcher-menu a:hover,
        .launcher-menu a:active {
            color: inherit;
            text-decoration: none;
        }

        .launcher-menu a i {
            /*glyphicon, etc*/
            width: 16px;
            text-align: center;
        }

        .launcher-menu a img,
        .launcher-menu a svg {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
            margin-bottom: 1px;
            margin-top: 1px;
        }
    </style>
    <template is="dom-bind">
        <a slot="Website/icon" href="/launcher" class="launcher-home-button"><i class="glyphicon glyphicon-home launcher-home-button__icon"></i></a>
        <div slot="Website/search" class="launcher-search">
            <a href="javascript:" value="{{model.searchBar.submit$}}" onclick="++this.value">
                <i class="glyphicon glyphicon-search launcher-search__icon"></i>
            </a>
            <input type="text" class="launcher-search__input" placeholder="Search">
        </div>
        <a slot="Website/settings" href="/launcher/settings" class="launcher-settings-button"><img class="launcher-settings-button__icon" src="/Website/images/cog.svg" /></a>
        <starcounter-include slot="Website/topbar" partial="{{model.Sections.TopBar}}"></starcounter-include>
        <website-launchertemplate-menu slot="Website/leftbar">
            <starcounter-include partial="{{model.Sections.LeftBar}}"></starcounter-include>
            <ul class="launcher-menu"></ul>
        </website-launchertemplate-menu>
        <starcounter-include slot="Website/main" partial="{{model.Sections.Main}}"></starcounter-include>
    </template>
    <template is="starcounter-composition">
        <content select="[slot='Website/global-style']"></content>
        <style shim-shadowdom>
            .launcher-layout {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            .launcher-layout__top {
                display: flex;
                align-items: center;
                flex: 0 0 auto;
                justify-content: space-between;
                z-index: 100;
                background: var(--secondary-background, #333c4e);
                color: var(--secondary-color, #8a98b0);
                font-size: 28px;
                line-height: normal;
                /*reset bootstrap line-height*/
                padding: 0 10px;
                height: 50px;
            }

            /** For browsers that supports Shadow DOM v0 */
            .launcher-layout__top ::content a {
                color: var(--secondary-color, #8a98b0);
            }

            /** duplicated rule for polyfilled browsers */
            .launcher-layout__top a {
                color: var(--secondary-color, #8a98b0);
            }

            .launcher-layout__top-left,
            .launcher-layout__top-right {
                display: flex;
                align-items: center;
            }

            /** For browsers that supports Shadow DOM v0 */
            .launcher-layout__top-left ::content > starcounter-include > juicy-composition,
            .launcher-layout__top-left ::content > starcounter-include > juicy-composition > starcounter-include > juicy-composition,
            .launcher-layout__top-right ::content > starcounter-include > juicy-composition,
            .launcher-layout__top-right ::content > starcounter-include > juicy-composition > starcounter-include > juicy-composition {
                display: flex;
                align-items: center;
            }
            /** duplicated rule for polyfilled browsers */
            .launcher-layout__top-left > starcounter-include > juicy-composition,
            .launcher-layout__top-left > starcounter-include > juicy-composition > starcounter-include > juicy-composition,
            .launcher-layout__top-right > starcounter-include > juicy-composition,
            .launcher-layout__top-right > starcounter-include > juicy-composition > starcounter-include > juicy-composition {
                display: flex;
                align-items: center;
            }

            @supports( (display: grid) and (grid-column-gap: 5px) ) {
                /** For browsers that supports Shadow DOM v0 */
                .launcher-layout__top-right ::content > starcounter-include > juicy-composition,
                .launcher-layout__top-right ::content > starcounter-include > juicy-composition > starcounter-include > juicy-composition,
                .launcher-layout__top-left,
                .launcher-layout__top-right {
                    display: grid;
                    align-items: center;
                    grid-column-gap: 5px;
                    grid-auto-flow: column;
                    margin-right: 5px;
                }

                /** duplicated rule for polyfilled browsers */
                .launcher-layout__top-right > starcounter-include > juicy-composition,
                .launcher-layout__top-right > starcounter-include > juicy-composition > starcounter-include > juicy-composition,
                .launcher-layout__top-left,
                .launcher-layout__top-right {
                    display: grid;
                    align-items: center;
                    grid-column-gap: 5px;
                    grid-auto-flow: column;
                    margin-right: 5px;
                }
            }
            @supports( not ((display: grid) and (grid-column-gap: 5px)) ) {
                .launcher-layout__top-right ::content > starcounter-include > juicy-composition > *,
                .launcher-layout__top-right ::content > starcounter-include > juicy-composition starcounter-include > juicy-composition > *,
                /*
                 Shadow DOM v1 in-compatible Shadow DOM piercing selector
                 styling such things may break default compositions delivered by apps
                */
                .launcher-layout__top-right ::content > starcounter-include > juicy-composition::shadow > *,
                .launcher-layout__top-right ::content > starcounter-include > juicy-composition > starcounter-include > juicy-composition::shadow > * {
                    margin-right: 5px;
                }
                /** duplicated rule for polyfilled browsers */
                .launcher-layout__top-right > starcounter-include > juicy-composition > *,
                .launcher-layout__top-right > starcounter-include > juicy-composition starcounter-include > juicy-composition > * {
                    margin-right: 5px;
                }
            }
            /** For browsers that supports Shadow DOM v0 */
            .launcher-layout__top-right ::content paper-icon-button {
                width: 24px;
                height: 24px;
                padding: 0;
            }
            /** duplicated rule for polyfilled browsers */
            .launcher-layout__top-right paper-icon-button {
                width: 24px;
                height: 24px;
                padding: 0;
            }

            .launcher-layout__content {
                display: flex;
                flex: 1 1 auto;
            }

            .launcher-layout__leftbar {
                flex: 0 0 200px;
                background: var(--secondary-background, #333c4e);
                color: var(--secondary-color, #8a98b0);
                line-height: normal;
            }

            .launcher-layout__main {
                flex: 1 0 auto;
                background: var(--primary-background, white);
                color: var(--primary-color, black);
            }

            .launcher-layout__padded {
              padding: 20px;
            }
        </style>
        <div class="launcher-layout">
            <div class="launcher-layout__top">
                <div class="launcher-layout__top-left">
                    <content select="[slot='Website/icon']"></content>
                    <content select="[slot='Website/search']"></content>
                </div>
                <div class="launcher-layout__top-right">
                    <content select="[slot='Website/topbar']"></content>
                    <content select="[slot='Website/settings']"></content>
                </div>
            </div>
            <div class="launcher-layout__content">
                <div class="launcher-layout__leftbar">
                    <content select="[slot='Website/leftbar']"></content>
                </div>
                <div class="launcher-layout__main">
                    <div class="launcher-layout__padded">
                        <content select="[slot='Website/main']"></content>
                    </div>
                </div>
            </div>
        </div>
    </template>
</template>

<dom-module id="website-launchertemplate-menu">
    <template>
        <content id="content"></content>
    </template>
    <script>
        (function () {
            Polymer({
                is: "website-launchertemplate-menu",
                observer: null,
                ready: function () {
                    this.observer = new MutationObserver(this.sortItems.bind(this));
                    this.observe();
                },
                observe: function () {
                    this.observer.observe(this, {
                        childList: true,
                        subtree: true
                    });
                },
                sortItems: function () {
                    this.observer.disconnect();

                    var lis = this.querySelectorAll('li');

                    lis = Array.prototype.slice.call(lis, 0);
                    lis.sort(function (a, b) {
                        var at = a.dataset.sortNumber || a.textContent.trim();
                        var bt = b.dataset.sortNumber || b.textContent.trim();

                        if (at < bt) {
                            return -1;
                        } else if (at > bt) {
                            return 1;
                        }

                        return 0;
                    });

                    var ul = this.querySelector('ul');

                    for (var i = 0, l = lis.length; i < l; i++) {
                        ul.appendChild(lis[i]);
                    }

                    this.observe();
                }
            });
        })();
    </script>
</dom-module>
