<template>
    <template is="dom-bind">
        <starcounter-include slot="website/left" view-model="{{model.Sections.Left}}"></starcounter-include>
        <starcounter-include slot="website/right" view-model="{{model.Sections.Right}}"></starcounter-include>
    </template>
    <template is="declarative-shadow-dom">
        <style>
            .website-sidebartemplate {
                display: flex;
            }

            .website-sidebartemplate__left {
                flex: 0 0 200px;
            }

            .website-sidebartemplate__right {
                flex: 1 0 200px;
            }
        </style>
        <section class="website-sidebartemplate">
            <section class="website-sidebartemplate__left">
                <slot name="website/left"></slot>
            </section>
            <section class="website-sidebartemplate__right">
                <slot name="website/right"></slot>
            </section>
        </section>
    </template>
</template>
