body {
    font-family: Consolas;
}

header .video {
    float: right;
    border: 1px solid #C0C0C0;
    background-color: white;
    padding: 5px;
}

section {
    overflow: auto;
}

footer {
    margin-top: 10px;
}

div.nav ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
    list-style-type: none;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 10px;
}

div.nav ul li {
    float: left;
}

div.nav ul li a {
    display: block;
    padding: 5px 15px;
}

div.side {
    width: 250px;
    float: left;
    border-right: 1px solid #C0C0C0;
}

div.center {
    padding-left: 50px;
    margin-left: 250px;
}
