<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>StarcounterSamples.Website</Namespace>
  <Channel>Stable</Channel>  
  <Version>0.0.4</Version>
  <AppName>Website</AppName>
  <Executable>app/Website.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>Website.png</ImageUri>
  <Company>StarcounterSamples</Company>
  <DisplayName>Website</DisplayName>
  <Description>Website composer with different layouts and content sections.</Description>
  <VersionDate>2015-10-12T12:58:00Z</VersionDate>
  <Dependency name="Starcounter">2.1.116</Dependency>
</PackageConfig>