<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>StarcounterSamples.Content</Namespace>
  <Channel>Stable</Channel>  
  <Version>0.0.8</Version>
  <AppName>Content</AppName>
  <Executable>app/Content.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>Content.png</ImageUri>
  <Company>StarcounterSamples</Company>
  <DisplayName>Content</DisplayName>
  <Description>Simple cms to manage website content.</Description>
  <VersionDate>2015-10-21T07:56:00Z</VersionDate>
  <Dependency name="Starcounter">~2.1.233</Dependency>
</PackageConfig>