/*View's Shadow DOM styles*/
section.container {
    background-color: white;
    width: 800px;
    padding: 0px 50px;
    margin: auto;
    min-height: 100%;
}
section {
    overflow: auto;
    margin-bottom: 15px;
}
section.left, section.right {
    float: left;
    box-sizing: border-box;
    width: 50%;
}
section.left {
    padding-right: 25px;
}
section.right {
    padding-left: 25px;
}
section.footer {
    clear: both;
}

/*View's distributed DOM styles*/

::content h1,
h1 /*shimmed browsers*/ {
    font-size: 32px;
    font-weight: normal;
}
::content h2,
h2 /*shimmed browsers*/ {
    font-weight: normal;
}
::content h3,
h3 /*shimmed browsers*/ {
    font-weight: bold;
    font-size: 16px;
}
::content .text-block,
.text-block /*shimmed browsers*/ {
    height: 140px;
}
::content input[type=text],
input[type=text] /*shimmed browsers*/,
::content input[type=password],
input[type=password] /*shimmed browsers*/ {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #c8c8c8;
    border-style: solid;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px inset;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    width: 214px;
    height: 25px;
}
::content div.form-horizontal,
div.form-horizontal /*shimmed browsers*/,
::content div.form-horizontal + div,
div.form-horizontal + div /*shimmed browsers*/ {
    float: left;
    margin-bottom: 10px;
}
::content div.form-horizontal,
div.form-horizontal /*shimmed browsers*/ {
    width: 25%;
    line-height: 25px;
}
::content button,
button /*shimmed browsers*/,
::content input[type=button],
input[type=button] /*shimmed browsers*/ {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #dddddd;
    border-style: solid;
    background-color: #3498db;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-family: Arial;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    width: 215px;
    height: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}
::content button[disabled],
button[disabled] /*shimmed browsers*/,
::content input[type=button][disabled]
input[type=button][disabled] /*shimmed browsers*/ {
    opacity: 0.7;
    cursor: not-allowed;
    box-shadow: none;
}
::content .alert.alert-danger,
.alert.alert-danger /*shimmed browsers*/ {
    color: red;
}
