/*View's Shadow DOM styles*/
.website-holygrail {
    display: -ms-grid;
    -ms-grid-columns: minmax(min-content, 1fr) minmax(max-content, 1fr) minmax(min-content, 1fr);
    -ms-grid-rows: auto minmax(min-content, 1fr) auto;

    height: 100%;
    display: grid;
    grid-template: "head head head"
                   "left content right" 1fr
                   "foot foot foot";
}
.website-holygrail__header::before{
    content: 'Header';
}
.website-holygrail__header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;

    grid-area: head;
    background-color: var(--holy-grail-chalice, #ffdb3a);
}
.website-holygrail__left::before{
    content: 'Left area';
}
.website-holygrail__left{
    -ms-grid-row: 2;
    -ms-grid-column: 1;

    grid-area: left;
    background-color: var(--holy-grail-background, #e6e6e6);
}
.website-holygrail__content::before{
    content: 'Content';
}
.website-holygrail__content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;

    grid-area: content;

}
.website-holygrail__right::before{
    content: 'Right area';
}
.website-holygrail__right {
    -ms-grid-row: 2;
    -ms-grid-column: 3;

    grid-area: right;
    background-color: var(--holy-grail-background, #e6e6e6);
}
.website-holygrail__footer::before{
    content: 'Footer';
    color: white;
}
.website-holygrail__footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;

    grid-area: foot;
    background-color: var(--holy-grail-foot, #646464);
}
@media screen and (max-width: 600px) {
	.website-holygrail {
		grid-template: "head"
		                     "left"
		                     "content" 1fr
		                     "right"
		                     "foot"/
                             100%;

		-ms-grid-columns: 100%;
		-ms-grid-rows: auto
						auto
						1fr
						auto
						auto;
	}
    /** For IE/Edge until it updates grid implementation */
    .website-holygrail__header {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .website-holygrail__left{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .website-holygrail__content {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .website-holygrail__right {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .website-holygrail__footer {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
}
